h1 {
	position: absolute;
	line-height: 20px;
	color:#474747;
	font-family: 'Crete Round', serif;
	font-family: 'Lato', sans-serif;
	font-family: 'Roboto Slab', serif;
	font-size: 24px;
	left:23px;
}

.line {

	position: absolute;
	background: #474747;
    padding: 1px; 
    width: 80px;
    height: 5px;
    top:59px;
    left:23px;
}

.icon-minus:before {
  content: "\ea0b";
}

hr{
	font-weight: bold;
}


.girl1{

	position: absolute;
	padding-top:87px;
	top:10px;
	left:23px;
}

.girl2{

	position: absolute;
	padding-top:87px;
	top:10px;
	left:271px;
}

.girl3{

	position: absolute;
	padding-top:87px;
	top:10px;
	left:519px;
}
.girl4 {
	position:absolute;
	top:313px;
	left:23px;
	padding-top: 30px;
}

.girl5 {
	position:absolute;
	top:313px;
	left:271px;
	padding-top: 30px;
}

.girl6 {
	position:absolute;
	top:313px;
	left:519px;
	padding-top: 30px;
}

.n1 {
	position: absolute;
	top:280px;
	font-size: 15px;
	left: 75px;
	color:#FFF;
	font-family: 'Crete Round', serif;
	font-family: 'Lato', sans-serif;
	font-family: 'Roboto Slab', serif;
}

.n2 {
	position: absolute;
	top:280px;
	font-size: 15px;
	left: 350px;
	color:#FFF;
	font-family: 'Crete Round', serif;
	font-family: 'Lato', sans-serif;
	font-family: 'Roboto Slab', serif;
}

.n3 {
	position: absolute;
	top:280px;
	font-size: 15px;
	left: 585px;
	color:#FFF;
	font-family: 'Crete Round', serif;
	font-family: 'Lato', sans-serif;
	font-family: 'Roboto Slab', serif;
}

.n4 {
	position: absolute;
	top:525px;
	font-size: 15px;
	left: 120px;
	color:#FFF;
	font-family: 'Crete Round', serif;
	font-family: 'Lato', sans-serif;
	font-family: 'Roboto Slab', serif;
}

.n5 {
	position: absolute;
	top:525px;
	font-size: 15px;
	left: 343px;
	color:#FFF;
	font-family: 'Crete Round', serif;
	font-family: 'Lato', sans-serif;
	font-family: 'Roboto Slab', serif;
}

.n6 {
	position: absolute;
	top:525px;
	font-size: 15px;
	left: 610px;
	color:#FFF;
	font-family: 'Crete Round', serif;
	font-family: 'Lato', sans-serif;
	font-family: 'Roboto Slab', serif;
}

img[src="img/img1.png"],img[src="img/img2.png"],
img[src="img/img3.png"],img[src="img/img4.png"],
img[src="img/img5.png"],img[src="img/img6.png"] {
	filter: grayscale(40%) brightness(60%);
}